/* body {
  display: flex;              
  flex-direction: column;     
  align-items: center;        
  justify-content: center;    
  min-height: 100vh;          
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;         
}  */

.facts-container {
  max-width: 900px;
  /*margin: 2rem auto;*/
  display: grid;
  margin-left: auto;
  margin-right: auto;
  /*grid-template-columns: 60% 40%;*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /*column-gap: 0px;*/
  gap: 20px;
  text-align: center;
}

article {
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.highlight {
  background: #ffece5;
  border-left: 4px solid pink;
  padding: 6px 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 10px auto;
}
.facts-images {
  background-color: white;
  /*  grid-column: 2/3; */
  width: 300px;
  height: auto;
  border-radius: 12px;
  display: block;
  margin: 0 auto 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
p {
  /*  grid-column: 1/2; */
  background: white;
  text-align: left;
  font-size: 1em;
}
h2 {
  background: white;
  text-align: left;
  font-style: italic;
  font-size: 1.5em;
  color: #551a8b;
}

/* li {
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
} */
