.short-bio {
    padding: 50px;
    text-align: center;
    border: 2px solid black;
}



ul{
    list-style-type: circle;
    padding-left: 25px;
}


h1 {
  color: #6a5acd;
}



.header-hero {
  padding: 2rem 1rem;
}


nav a {
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 8px;
}