* {
    background-color: #E8E8E8;
} 


body { 
    font-family: "Barrio", system-ui; 
    margin: 0; 
    padding: 0; 
    /* background-color: #E8E8E8;  */
    text-align: center ;
}


/* .header-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 30px;
} */

header {
    text-align: center;
}

.home-page-icon {
    width: 100px;
}

h1 {
    color: pink;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
}

li {
    display: inline;
    margin: 5px;
}

footer {
    color: #6a5acd;
    margin-top: 30px;
    font-weight: bold;
}

