* {
  background-color: #e8e8e8;
}

body {
  font-family: "Barrio", system-ui;
  margin: 0;
  padding: 0;
  /* background-color: #E8E8E8;  */
  text-align: center;
}

.header-section {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 20px 0;
}

header {
  text-align: center;
}

.home-page-icon {
  width: 80px;
  margin-bottom: 0;
}

.site-title {
  font-family: "Chewy", cursive;
  font-size: 60px;
  color: #6a5acd;
  margin: 0;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

header {
  margin-bottom: 2rem;
}

nav a {
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 8px;
}

h1 {
  color: #6a5acd;
  font-family: "Chewy", cursive;
  font-size: 50px;
  text-align: center;
  margin : 0;
  padding: 0;
}

li {
  display: inline;
  margin: 5px;
}

footer {
  color: #6a5acd;
  margin: 30px 20px;
  font-weight: bold;
}
